###############################################################################
# Original settings compiled by @ciel https://www.github.com/ciel
# Modified for use with yarn by @LilyBell https://www.github.com/LilyBell
###############################################################################

###############################################################################
# COMPILED OUTPUTS
###############################################################################
**/dist
**/tmp
**/out-tsc
**/docs/api
**/docs/dist
**/wwwroot/docs

###############################################################################
# END TO END TESTING OUTPUT
###############################################################################
/e2e/*.js
/e2e/*.map

###############################################################################
# SYSTEM FILES
###############################################################################
.DS_Store
Thumbs.db

###############################################################################
# MISCELLANEOUS
###############################################################################
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

###############################################################################
# VISUAL STUDIO USER SPECIFIC FILES
###############################################################################
*.suo
*.user

###############################################################################
# VISUAL STUDIO BUILD OUTPUT
###############################################################################
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

###############################################################################
# VISUAL STUDIO 2017 CACHE/OPTIONS DIRECTORY
###############################################################################
bin/
obj/

###############################################################################
# VISUAL STUDIO 2015 NUGET DIRECTORY
###############################################################################
.nuget/

###############################################################################
# JETBRAINS RESHARPER
###############################################################################
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

###############################################################################
# NUGET-CLI
###############################################################################
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore, except for
# build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/packages/repositories.config

###############################################################################
# PACKAGE MANAGERS
###############################################################################
# ECMAScript package and module loaders
bower_components/
node_modules/
jspm_packages/
**/package-lock.json

###############################################################################
# GIT LOCAL HISTORY
###############################################################################
.history
